{
  "qq": {
    "account": <your qq account, optional>,
    "password": <your qq password, optional>,
    "login_via_qr_code": <whether use qr to login or not, a boolean, optional>,
    "group_id": <your qq group chat id, an integer>
  },
  "telegram": {
    "bot_token": <your telegram bot token, a string>,
    "chat_id": <your telegram group chat id, an integer>,
  },
  "network": {
    "proxy": <proxy setting used for telegram bot, a string, optional>
  },
  "debug": {
    "verbose": <whether enable verbose output or not, a boolean>
  },
  "redis": {
    "url": <redis url, a string, optional>,
    "address": <a string, optional>,
    "db": <an integer, optional>,
    "username": <a string, optional>,
    "password": <a string, optional>
  },
  "headless": <whether you are running this application on a headless device or not, a boolean>
}